* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    animation: pageload 1s ease;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    position: sticky;
    margin-top: 0;
    width: 100%;
    background-color: #ffffff;
    height: 15vh;
    text-align: center;
    padding-top: 2vh;
    border-bottom: 0.5vh solid #b08d33;
    box-shadow: 3px 4px 4px #00000046;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}
nav{
    background-color: #ffffff00;
    max-width: 40vh;
    display: flex;
    align-items: center;
}
.header_title{
    font-size: 3vh;
    color: #b08d33;
    font-family: "Cormorant Garamond";
}
.header_subtitle{
    background-color: #b08d33;
    color: #ffffff;
    font-size: 2vh;
    font-family: "Cormorant Garamond";
}
.nav_list{
    list-style-type: none;
    display: flex;
    gap: 3vh;
    margin-top: 3vh;
    font-size: 2.5vh;
    width: 100%;
    padding: 0;
    font-family: "Cormorant Garamond";
}
.nav_services{
    text-decoration: none;
    color:#b08d33;
}
.nav_services:active,
.nav_services:hover{
    border-bottom: 1.5px solid #b08d33;
}
.nav_gallery{
    text-decoration: none;
    color: #b08d33;
}
.nav_gallery:active,
.nav_gallery:hover{
    border-bottom: 1.5px solid #b08d33;
}
.nav_about{
    text-decoration: none;
    color: #b08d33;
}
.nav_about:active,
.nav_about:hover{
    border-bottom: 1.5px solid #b08d33;
}
.nav_contact{
    text-decoration: none;
    color: #b08d33;
}
.nav_contact:active,
.nav_contact:hover{
    border-bottom: 1.5px solid #b08d33;
}
.hero{
    background-image: url("../assets/images/hero_image.png.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 60vh;
    margin-top: 0;
    overflow-x: hidden;
}
.hero_overlay{
    background-color: rgba(0, 0, 0, 0.504);
    width: 120%;
    margin-left: -3vh;
    height: 60vh;
    inset: 0;
}
.hero_elements{
    width: 100%;
    height: 60vh;
    text-align: center;
    padding: 10vh;
    margin-left: -7vh;
}
.hero_title{
    color: #b08d33;
    font-size: calc(1rem + 5.5vw);
    white-space: nowrap;
    font-family: "Cormorant Garamond";
}
.hero_subtitle{
    color: #ffffff;
    font-size: calc(0.5rem + 4vw);
    white-space: nowrap;
    margin-top: 2vh;
    margin-left: 3vh;
    font-family: "Cormorant Garamond";
}
.hero_subtitle span{
    color: #ffffff;
}
.hero_booknow{
    display: inline-block;
    color:#b08d33;
    background-color: #b08d3300;
    border-radius: 14px;
    padding: 1vh;
    margin-top: 10vh;
    border: 1px solid #b08d33;
    margin-left: 11vh;
    white-space: nowrap;
    font-family: "Cormorant Garamond";
    text-decoration: none;
}
.hero_booknow:hover,
.hero_booknow:active{
    transform: scale(0.95);
    box-shadow: 0 0 5px;
}
.services{
    background-color: #ffffff;
    width: 125%;
    margin-left: -6.5vh;
    height: 170vh;
    text-align: center;
    padding: 5vh;
}
.services_title{
    color: #b08d33;
    font-family: "Cormorant Garamond";
    font-size: 5vh;
}
.services_subtitle{
    color: #b08d33;
    font-family: "Cormorant Garamond";
    font-size: 3vh;
    white-space: nowrap;
}
.services_card{
    border:0.2vh solid #b08d33;
    border-radius: 12px;
    width: 100%;
    height: 44vh;
    margin-top: 5vh;
    box-shadow: 0px 2px 4px;
}
.services_card_title{
    color: #ffffff;
    font-family: "Cormorant Garamond";
    font-size: 4vh;
    margin-top: 34.2vh;
}
.services_card_value{
    color: #ffffff;
    font-family: "Cormorant Garamond";
    border-top: 0.2vh solid #b08d33;
    font-size: 3vh;
    margin-top: 1vh;
}
.mechas{
    background-image: url("../assets/images/services_card_image_mechas.png.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.penteados{
    background-image: url("../assets/images/services_card_image_penteados.png.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.tratamento{
    background-image: url("../assets/images/services_card_image_tratamento.png.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gallery{
    background-color: #ffffff;
    text-align: center;
    padding: 2vh;
    width: 125%;
    margin-left: -6.5vh;
    height: 65vh;
}
.gallery_title{
    color: #b08d33;
    font-family: "Cormorant Garamond";
    font-size: 5vh;
}
.gallery_subtitle{
    color: #b08d33;
    font-family: "Cormorant Garamond";
    font-size: 3vh;
    white-space: nowrap;
}
.gallery_row{
    background-color: #ffffff;
    width: 100%;
    height: 23vh;
    padding: 2.6vh;
    display: flex;
    gap: 2vh;
}
.gallery_image{
    width: 20vh;
    height: 21vh;
    border-radius: 12px;
    box-shadow: 0px 1px 2px;
    flex: 1;
}
.about{
    background-color: #ffffff;
    text-align: center;
    padding: 2vh;
    width: 125%;
    margin-left: -6vh;
    height: 180vh;
}
.about_title{
    color: #b08d33;
    font-family: "Cormorant Garamond";
    font-size: 5vh;
}
.about_subtitle{
    color: #b08d33;
    font-family: "Cormorant Garamond";
    font-size: 3vh;
    white-space: nowrap;
}
.about_elements{
    background-color: #ffffff;
    padding: 3vh;
    width: 100%;
    height: 160vh;
}
.about_image{
    flex: 1;
    width: 125%;
    margin-left: -6.5vh;
    height: 50vh;
    border-radius: 12px;
    box-shadow: 0px 1px 2px;
}
.about_text{
    color: #b08d33;
    font-family: "Cormorant Garamond";
    font-size: 3vh;
    margin-top: 2vh;
}
.about_location{
    padding: 4vh;
}
.about_location_title{
    color: #b08d33;
    font-family: "Cormorant Garamond";
    font-size: 3vh;
}
iframe{
    margin-top: 2vh;
}
.contact{
    background-color: #ffffff;
    text-align: center;
    padding: 5vh;
    width: 125%;
    margin-left: -6vh;
}
.contact_booknow{
    width: 25vh;
    height: 12vh;
    border: 1px solid #b08d33;
    border-radius: 14px;
    color: #b08d33;
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 2vh;
    flex-direction: column;
    margin-top: 2vh;
    margin-left: 12vh;
    box-shadow: 0 1px 2px;
    font-family: "Cormorant Garamond";
}
.contact_booknow_icon{
    width: 7.2vh;
    height: 7.2vh;
}
.contact_booknow:active, 
.contact_booknow:hover{
    transform: scale(0.95);
    box-shadow: 0 0 5px;
}
footer{
    overflow-x: hidden;
    text-align: center;
    padding: 5vh;
    background-color: #b08d33;
    width: 100%;
    height: 30vh;
}
.footer_title{
    font-family: "Cormorant Garamond";
    font-size: 3vh;
    white-space: nowrap;
    color: #ffffff;
}
.footer_subtitle_list{
    display: flex;
    gap: 4vh;
    color: #ffffff;
    font-family: "Cormorant Garamond";
    font-size: 2.5vh;
    margin-top: 1vh;
    justify-content: center;
}
.footer_subtitle_list li:first-child{
    list-style: none;
}
.footer_copyright{
    font-family: "Cormorant Garamond";
    font-size: 2vh;
    white-space: nowrap;
    color: #ffffff;
    margin-top: 6vh;
}

 @keyframes pageload{
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
 }