* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    position: sticky;
    margin-top: 0;
    width: 100%;
    background-color: #ffffff;
    height: 15vh;
    text-align: center;
    padding-top: 2vh;
    border-bottom: 0.5vh solid #b08d33;
    box-shadow: 3px 4px 4px #00000046;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}
nav{
    background-color: #ffffff00;
    max-width: 40vh;
    display: flex;
    align-items: center;
}
.header_title{
    font-size: 3vh;
    color: #b08d33;
    font-family: "Cormorant Garamond";
}
.header_subtitle{
    background-color: #b08d33;
    color: #ffffff;
    font-size: 2vh;
    font-family: "Cormorant Garamond";
}
.nav_list{
    list-style-type: none;
    display: flex;
    gap: 3vh;
    margin-top: 3vh;
    font-size: 2.5vh;
    width: 100%;
    padding: 0;
    font-family: "Cormorant Garamond";
}
.nav_services{
    text-decoration: none;
    color:#b08d33;
}
.nav_services:active,
.nav_services:hover{
    border-bottom: 1.5px solid #b08d33;
}
.nav_gallery{
    text-decoration: none;
    color: #b08d33;
}
.nav_gallery:active,
.nav_gallery:hover{
    border-bottom: 1.5px solid #b08d33;
}
.nav_about{
    text-decoration: none;
    color: #b08d33;
}
.nav_about:active,
.nav_about:hover{
    border-bottom: 1.5px solid #b08d33;
}
.nav_contact{
    text-decoration: none;
    color: #b08d33;
}
.nav_contact:active,
.nav_contact:hover{
    border-bottom: 1.5px solid #b08d33;
}
.hero{
    background-image: url("../assets/images/hero_image.png.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 60vh;
    margin-top: 0;
}
.hero_overlay{
    background-color: rgba(0, 0, 0, 0.504);
    width: 120%;
    margin-left: -3vh;
    height: 60vh;
    inset: 0;
}
.hero_elements{
    width: 100%;
    height: 60vh;
    text-align: center;
    padding: 10vh;
    margin-left: -7vh;
}
.hero_title{
    color: #b08d33;
    font-size: calc(1rem + 5.5vw);
    white-space: nowrap;
    font-family: "Cormorant Garamond";
}
.hero_subtitle{
    color: #ffffff;
    font-size: calc(0.5rem + 4vw);
    white-space: nowrap;
    margin-top: 2vh;
    margin-left: 3vh;
    font-family: "Cormorant Garamond";
}
.hero_subtitle span{
    color: #ffffff;
}
.hero_booknow{
    display: inline-block;
    color:#b08d33;
    background-color: #b08d3300;
    border-radius: 14px;
    padding: 1vh;
    margin-top: 10vh;
    border: 1px solid #b08d33;
    margin-left: 11vh;
    white-space: nowrap;
    font-family: "Cormorant Garamond";
    text-decoration: none;
}
.hero_booknow:hover,
.hero_booknow:active{
    transform: scale(0.95);
    box-shadow: 0 0 5px;
}
.services{
    background-color: #ffffff;
    width: 100%;
    height: 130vh;
    text-align: center;
    padding: 5vh;
}
.services_title{
    color: #b08d33;
    font-family: "Cormorant Garamond";
    font-size: 5vh;
}
.services_subtitle{
    color: #b08d33;
    font-family: "Cormorant Garamond";
    font-size: 3vh;
    white-space: nowrap;
}
.services_card{
    border:0.2vh solid #b08d33;
    border-radius: 12px;
    width: 100%;
    height: 30vh;
    margin-top: 5vh;
}
.services_card_title{
    color: #b08d33;
    font-family: "Cormorant Garamond";
    border-bottom: 0.2vh solid;
    font-size: 2vh;
}